body {
  background-color: antiquewhite;
  font-family: "Bebas Neue", sans-serif;
}
.search-button {
  background: antiquewhite;
  border: none;
  border-radius: 6px;
  color: rgb(97, 70, 34);
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  margin-left: 5px;
  padding: 15px 25px;
}
.search-input {
  background-color: antiquewhite;
  border: none;
  border-radius: 6px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  padding: 15px 20px;
  width: 80%;
}

.weather-app {
  background: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
}
