a {
  color: #392f2f;
}
body {
  background-color: antiquewhite;
  font-family: "Bebas Neue", sans-serif;
}

footer {
  border-top: 1px solid #e6d3a7;
  color: rgb(57, 47, 47), 0.6;
  padding: 30px 0 0 0;
  text-align: center;
}
header {
  border-bottom: 1px solid #e6d3a7;
  padding: 0 0 30px 0;
}

.main {
  padding: 30px 0;
}
.search-button {
  background: #e6d3a7;
  border: none;
  border-radius: 6px;
  color: #392f2f;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  margin-left: 5px;
  padding: 15px 25px;
}
.search-input {
  background-color: #e6d3a7;
  border: none;
  border-radius: 6px;
  color: #392f2f;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  padding: 15px 20px;
  width: 80%;
}

.weather-app {
  background: #59a985;
  border-radius: 10px;
  box-shadow: 0 30px 50px #392f2f;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-temp {
}
