a {
  color: #90a9d3;
}
body {
  background: rgb(254, 236, 235);

  font-family: "Bebas Neue", sans-serif;
}

footer {
  border-top: 1px solid #dfdfdf;
  color: #b1bed5;
  padding: 15px 0 0 0;
  text-align: center;
}
header {
  border-bottom: 1px solid #dfdfdf;
  padding: 0 0 30px 0;
}
input::placeholder {
  color: #b1bed5;
}
.main {
  padding: 30px 0;
}
.search-button {
  background: #f4f3f3;
  border: none;
  border-radius: 6px;
  color: #90a9d3;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  margin-left: 5px;
  padding: 15px 25px;
}
.search-input {
  background-color: #f4f3f3;
  border: none;
  border-radius: 6px;
  color: #b1bed5;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  padding: 15px 20px;
  width: 80%;
}

.weather-app {
  background: #e2f3f1;
  border-radius: 10px;
  box-shadow: 0 30px 50px #b1bed5;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
}

.weather-app-city {
  color: #6e87b3;
  margin: 0;
  font-size: 48px;
  line-height: 48px;
  margin-top: 12px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-details {
  color: #b1bed5;
  font-size: 16px;
  justify-content: space-between;
  line-height: 28px;
}

.weather-app-details strong {
  color: #90a9d3;
}

.weather-app-icon {
  height: 88px;
}
.weather-app-temp {
  display: flex;
  margin-left: 10px;
}

.weather-app-temp-value {
  color: #6e87b3;
  font-size: 88px;
  line-height: 98px;
}
.weather-app-unit {
  color: #6e87b3;
  margin-top: 13px;
  font-size: 28px;
}
